<!-- <h1>Welcome to {{title}}</h1> -->

<!-- <app-test (childEvent)="message=$event" [parentData]="parents"></app-test> -->
<!-- <app-child (brother)="message=$event" [childOf]="childof"></app-child>
<h2>{{message | uppercase}}</h2>
<p>loan amount: {{loan | currency:'AUD':true}}</p> -->

<!-- <app-child2 [title]="address"></app-child2> -->

<!-- <input type="text" [(ngModel)] = "value">
<app-ngchook [message]="value"></app-ngchook> -->

<h1>Welcome</h1>

<nav>
    <a routerLink="/arianna">Arianna</a>
    <a routerLink="/dealcalculator">Deal Calculator</a>
    <a routerLink="/about">About Us</a>
</nav>
<!-- <app-comp1></app-comp1> -->

<router-outlet></router-outlet>